@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");

body {
  font-family: "Rubik", sans-serif;
  list-style-type: none;
}

body::-webkit-scrollbar {
  width: 0.6rem;
}

body::-webkit-scrollbar-track {
  background-color: #e1effe;
}

body::-webkit-scrollbar-thumb {
  background-color: #959595;
  border-radius: 50px;
}

body::-webkit-scrollbar-horizontal {
  height: 0.5rem;
}

body::-webkit-scrollbar-track-horizontal {
  background-color: #e1effe;
}

body::-webkit-scrollbar-thumb-horizontal {
  background-color: #959595;
  border-radius: 50px;
}

@media (max-width: 640px) {
  body::-webkit-scrollbar {
    display: none;
  }
}

.ql-editor {
  font-size: 1.05rem;
  background-color: #fff;
}

.ql-container.ql-snow,
.ql-toolbar.ql-snow {
  border: 1px solid #cfd2d8;
}

.post-content p {
  margin-bottom: 0.5rem;
}

.post-content h1 {
  font-size: 1.5rem;
  font-weight: 600;
  font-family: sans-serif;
  margin: 1.5rem 0;
}

.post-content h2 {
  font-size: 1.4rem;
  font-family: sans-serif;
  margin: 1.5rem 0;
}

.post-content a {
  color: rgb(73, 149, 199);
  text-decoration: none;
}

.post-content a:hover {
  text-decoration: underline;
}

.line-clamp-2 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -webkit-line-clamp: 2; /* Number of lines to show */
}

.glassy-effect {
  background: rgba(255, 255, 255, 0.6); /* Adjust the opacity as needed */
  backdrop-filter: blur(8px); /* Adjust the blur effect as needed */
}




@tailwind base;
@tailwind components;
@tailwind utilities;
