@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

body {
  font-family: "Roboto", sans-serif;
  background-color: black;
}

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  background-color: #000;
}

::-webkit-scrollbar-thumb {
  background-color: #3e3e3c;
  border-radius: 50px;
}

::-webkit-scrollbar-track-horizontal {
  background-color: #e1effe;
}

::-webkit-scrollbar-thumb-horizontal {
  background-color: #d1d5db;
  border-radius: 50px;
}

@media (max-width: 640px) {
  ::-webkit-scrollbar {
    display: none;
  }
}

.rotate {
  animation: flip 6s ease-in-out infinite;
}

@keyframes flip {
  0% {
    transform: rotateY(0deg);
  }
  50% {
    transform: rotateY(180deg);
  }
  100% {
    transform: rotateY(0deg);
  }
}

.scroll-hidden::-webkit-scrollbar {
  display: none;
}


@tailwind base;
@tailwind components;
@tailwind utilities;
